@import '~style/helpers';

.cart {
  margin-left: auto;
  position: relative;

  .cartIcon {
	display: inline-block;
	margin-right: 1.5rem;
	margin-bottom: .5rem;
	width: 2.2rem;
	height: 2.2rem;
	background: url(../../../assets/images/cart.svg) no-repeat center center / contain;
  }

  .cartLink {
	color: $white;
	font-family: 'Knockout';
	text-decoration: none;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 3px;
  }

  .cartLink {
	transition: opacity 0.2s linear;
  }

  .quantity {
	display: none;
  }

  .emptyCart {
	padding: 0 1rem;

	p {
	  font-size: 1.2rem;
	}
  }

  .cartList {
	position: absolute;
	top: 3.5rem;
	right: 0;
	background: #1C1F24;
	display: none;
	padding: 1rem 0;
	width: 23rem;
	color: $white;
	border: 1px solid #2F343D;
	z-index: 10;

	header {
	  padding: 1rem 1rem .5rem 1rem;
	  text-transform: uppercase;
	  font-size: 1.2rem;
	}

	&:before {
	  content: '';
	  position: absolute;
	  z-index: 10;
	  top: -1.2rem;
	  left: 0;
	  width: 100%;
	  height: 1.5rem;
	  background: url(../../../assets/images/caret-up.svg) no-repeat center 100% / contain;
	}

	ul {
	  margin: 0;
	  padding: 0;
	}

	li {
	  padding: 0 0 0 1rem;
	  list-style: none;
	  transition: background 0.2s linear;

	  &:hover {
		background: #26292e;
	  }

	  a {
		text-decoration: none;
		color: $white;
		display: flex;
		border-bottom: 1px solid #292E36;
		padding: .25rem 0 .5rem 0;
		flex-wrap: nowrap;

		div {
		  padding: 1rem 0 0 0;
		}
	  }

	  .productDescription {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		max-width: 100%;
		height: auto;
		padding-right: 1rem;
		padding-left: 1rem;

	  }

	  small, b {
		font-size: 1.2rem;
		display: inline-block;
		max-width: 100%;
	  }

	  b {
		padding-top: .5rem;
		text-transform: uppercase;
	  }

	  .productImg {
		flex-shrink: 0;

		img {
		  width: 4.8rem;
		  height: 4.8rem;
		}
	  }
	}

	.total {
	  font-size: 1.2rem;
	  padding: 1.5rem 1rem 0 1rem;

	  b {
		display: block;
		text-transform: uppercase;
		padding-bottom: .5rem;
	  }
	}
  }

  &.visible {

	.quantity {
	  display: inline-block;
	}

	.cartLink {
	  opacity: 0.5;
	}

	.cartList {
	  display: block
	}
  }

  &.myProductsPage {
	width: 100%;
	.cartLink {
	  display: none !important;
	}

	.cartList {
	  display: block !important;
	  position: relative;
	  background: transparent;
	  width: 100% !important;
	  border: none;
	  top: 0;

	  &:before {
		display: none;
	  }

	  header {
		font-size: 2.1rem;
		padding-top: 0;
	  }

	  li {

		.productImg {
		  width: 12rem;

		  img {
			width: 11rem;
			height: 11rem;
		  }
		}

		.productDescription {
		  display: block;
		  padding-left: 1.5rem;

		  small, b {
			font-size: 1.6rem;
			display: block;
			width: 100%;
		  }

		  b {
			padding-top: 1.5rem;
		  }
		}
	  }

	  .total {
		padding-top: 3rem;
		padding-bottom: 3rem;
		font-size: 1.7rem;

		b {
		  font-size: 2.1rem;
		}
	  }
	}
  }
}

@media (min-width: 990px) {

  .cart {

	.cartList {

	  li {

		a {
		  margin-right: 1rem;
		}
	  }
	}
  }
}
