@import '~style/helpers';

.freightModalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  display: none;
  z-index: 1000;

  &.visible {
	display: block;
  }

  .freightModalOuter {
	max-width: 56rem;
	margin: 10rem auto 0 auto;
	background: #1C1F24;
	border: 1px solid #2F343D;
	color: $white;
	position: relative;
  }

  .closeFreightModal {
	cursor: pointer;
	display: block;
	position: absolute;
	width: 1.9rem;
	height: 1.9rem;
	right: 0;
	top: -3.8rem;
	transition: all linear 0.2s;
	background: url(../../../assets/images/close-blue.svg) no-repeat center center / contain;

	&:hover {
	  background: url(../../../assets/images/close-white.svg) no-repeat center center / contain;
	}
  }

  .freightModalInner {
	padding: 3.9rem;

	h4 {
	  font-size: 3.6rem;
	}

	h6 {
	  font-size: 1.4rem;
	}

	p {
	  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	  padding: 0 0 3.5rem 0;
	  margin-bottom: 3.5rem;
	}

	.freight, .phone {
	  margin: 2rem 0 3rem 0;

	  font-size: 1.6rem;
	  display: flex;
	  align-items: center;

	  .phoneIcon, .freightIcon {
		display: inline-block;
		margin-right: 1.5rem;
		width: 3.5rem;
		height: 3.5rem;
	  }

	  .phoneIcon {
		background: url(../../../assets/images/contact-phone.svg) no-repeat center center / contain;
	  }

	  .freightIcon {
		flex-shrink: 0;
		background: url(../../../assets/images/box.svg) no-repeat center center / contain;
	  }
	}

	.freight {
	  margin-bottom: 0;

	  p {
		font-size: 1.6rem;
		display: inline-block;
		padding: 0;
		margin: 0;
		width: 100%;
		border: none;
	  }
	}
  }
}

@media (max-width: 989px) {

  .freightModalWrapper {
	padding: 0 2rem 2rem 2rem;

	.freightModalOuter {
	  margin-top: 5.5rem;

	  .freightModalInner {
		padding: 1.5rem;

		h4 {
		  font-size: 2.1rem;
		}

		p {
		  font-size: 1.6rem;
		}

		.freight p {
		  font-size: 1.4rem;
		}

		.phone strong {
		  display: block;
		}

		h6 {
		  font-size: 1.2rem;
		}

		span {
		  font-size: 1.4rem;
		}
	  }
	}
  }
}
