@import '~style/helpers';

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 30rem }
}

@keyframes cursor {
  from, to { border-color: transparent }
  50% { border-color: $blue; }
}

.homeBottle {

  .homeBottleInner {
	height: 100%;
	width: 100%;
  }

  .leftBaseBottle,
  .rightBaseBottle,
  .leftLedBottle,
  .rightLedBottle {
	width: 50%;
	position: absolute;
	height: 100%;
	z-index: -1;
  }

  .rightBaseBottle,
  .rightLedBottle {
	right: 0;
  }

  .rightBottleInner {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
  }

  .rightBottleInner {
	right: 0;
  }

  .leftLedBottle,
  .rightBottleInner {
	@include ledAnimation();
	animation-direction: alternate;
  }

  .leftBaseBottle {
	background: url(../../../assets/images/left-base-bottle.png) no-repeat;
	background-size: contain;
	background-position: 50% 100%;
  }

  .rightBaseBottle {
	background: url(../../../assets/images/right-base-bottle.png) no-repeat;
	background-size: contain;
	background-position: 50% 100%;
	right: 0;
  }

  .leftLedBottle {
	background: url(../../../assets/images/left-led-bottle.png) no-repeat;
	background-size: contain;
	background-position: 50% 100%;
  }

  .rightBottleInner {
	background: url(../../../assets/images/right-led-bottle.png) no-repeat;
	background-size: contain;
	background-position: 50% 100%;
	right: 0;
  }

  .lensFlare {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	@include lensFlareAnimation();
	animation-direction: alternate;
	background: url(../../../assets/images/lens-flare.png) no-repeat;
	background-size: contain;
	background-position: 0 60%;
  }

  .randomWords {
	width: 200%;
	height: 60%;
	z-index: 300;
	display: flex;
	transform: rotate(-90deg);
	align-items: center;
	justify-content: center;
	overflow: visible;

	p {
	  font-family: 'Belvedere-Regular', sans-serif;
	  font-size: 5rem;
	  line-height: 5rem;
	  color: rgb(223, 236, 236);
	  text-transform: uppercase;
	  text-shadow: 0 0 1px gray;
	  opacity: 0.75;
	  padding: 1.5rem 0 0 0;
	  overflow: hidden;
	  width: auto;
	  border-right: .4rem solid $blue;
	  animation: typing 2.5s steps(10, end), cursor .75s step-end infinite;
	}
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {

  .homeBottle {

	.leftBaseBottle {
	  background-image: url(../../../assets/images/left-base-bottle-2x.png);
	}

	.rightBaseBottle {
	  background-image: url(../../../assets/images/right-base-bottle-2x.png);
	  right: 0;
	}

	.leftLedBottle {
	  background-image: url(../../../assets/images/left-led-bottle-2x.png);
	}

	.rightBottleInner {
	  background-image: url(../../../assets/images/right-led-bottle-2x.png);
	  right: 0;
	}
  }
}

@media (min-width: 320px) {

  .homeBottle {
	position: relative;
	width: 18rem;
	height: 28rem;
	margin: 0 auto;

	.leftBaseBottle,
	.rightBaseBottle,
	.leftLedBottle,
	.rightLedBottle {
	  z-index: 1;
	}

	.homeBottleInner {
	  position: relative;
	  margin: 0 auto;
	  bottom: 0;
	  right: 0;
	}

	.randomWords {
	  position: relative;
	  top: 30%;
	  right: 43%;

	  p {
		font-size: 1.6rem;
		line-height: 1.6rem;
		padding: 0.5rem 0 0 0;
		border-width: .1rem;
	  }
	}

	.lensFlare {
	  width: 120%;
	}
  }
}

@media (min-width: 480px) {

  .homeBottle {
	width: 20rem;
	height: 33rem;

	.randomWords {
	  top: 30%;
	  right: 43%;

	  p {
		font-size: 2rem;
		line-height: 2rem;
	  }
	}
  }
}

@media (min-width: 720px) {

  .homeBottle {
	width: 25rem;
	height: 40rem;

	.randomWords {
	  top: 30%;
	  right: 43%;

	  p {
		font-size: 2.5rem;
		line-height: 2.5rem;
	  }
	}
  }
}

@media (min-width: 990px) {

  .homeBottle {
	position: absolute;
	height: 60rem;
	width: 40rem;
	bottom: 0;
	right: 0;
	z-index: 0;
	background: transparent;

	.leftBaseBottle,
	.rightBaseBottle,
	.leftLedBottle,
	.rightLedBottle {
	  z-index: -1;
	}

	.homeBottleInner {
	  position: absolute;
	  margin-left: auto;
	  margin-right: 8rem;
	  right: 3rem;
	}

	.randomWords {
	  top: 30%;
	  right: 46%;

	  p {
		font-size: 5rem;
		line-height: 5rem;
	  }
	}
  }
}

@media (min-width: 1024px) {

  .homeBottle {
	width: 100%;
	height: 100%;

	.homeBottleInner {
	  max-height: 65rem;
	  max-width: 40rem;
	  margin-right: 6rem;
	}
  }
}

@media (min-width: 1280px) {

  .homeBottle {

	.homeBottleInner {
	  max-width: 42rem;
	  max-height: 70rem;
	  margin-right: 10rem;
	}

	.lensFlare {
	  width: 50rem;
	  background-position: 0 40%;
	}
  }
}

@media (min-width: 1440px) {

  .homeBottle {

	.homeBottleInner {
	  max-width: 40rem;
	  max-height: 80rem;
	}
  }
}

@media (min-width: 1680px) {

  .homeBottle {

	.homeBottleInner {
	  max-width: 45rem;
	  max-height: 80rem;
	}
  }
}

@media (min-width: 1920px) {

  .homeBottle {

	.homeBottleInner {
	  margin-right: 9rem;
	  max-width: 48rem;
	  max-height: 85rem;
	}

	.lensFlare {
	  margin-right: 0;
	}
  }
}
