@import '~style/helpers';

.beInspired {

  .mainContent {

    h1 {
      padding-bottom: 1.8rem;
    }

    small {
      font-size: 1.6rem;
    }

    .leftContent {
      width: 100%;
      max-width: 36rem;

      blockquote {
        margin: 4.2rem 0 1.5rem 0;
        color: $white;
        font-style: italic;
        font-size: 2.1rem;
      }


      cite {
        display: block;
        font-style: normal;
        color: $white;
        font-size: 1.4rem;
        padding-bottom: 2rem;
      }
    }

    .rightContent {
      flex: 1;
      width: 100%;
      padding: 0 3rem 9.5rem 3rem;

      .player {
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        background: url(../../assets/images/be-inspired-video-cover.jpg) no-repeat center center / cover;

        .playerInner {
          display: flex;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          background: rgba(0, 0, 0, 0.75);
          cursor: pointer;

          iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 0;
          }

          .stopVideo {
            display: none;
          }

          &.isPlaying {

            .playVideo {
              display: none;
            }

            iframe {
              opacity: 1;
            }
          }
        }

        button {
          position: absolute;
          display: flex;
          width: 100%;
          height: 100%;
          outline-color: transparent;
          outline-style: none;
          border: none;
          z-index: 100;
          background: transparent;
          cursor: pointer;

          &.playVideo {

            span {
              width: 7.2rem;
              height: 7.2rem;
              margin: auto;
              background: transparent url(../../assets/images/play.svg) no-repeat center center / contain;
            }
          }
        }
      }

      .thumbs {
        margin-top: 3rem;
        padding-top: 3rem;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: space-between;

        a {
          width: 17.3rem;
          height: 17.3rem;
		  display: block;
          border-radius: .5rem;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
		  border-bottom: 2px solid transparent;
		  transition: all linear 0.2s;

		  &:hover {
			border-bottom: 2px solid $blue;
		  }

          &:nth-child(1) {
            background-image: url(../../assets/images/be-inspired-1.png);
          }

          &:nth-child(2) {
            background-image: url(../../assets/images/be-inspired-2.png);
          }

          &:nth-child(3) {
            background-image: url(../../assets/images/be-inspired-3.png);
          }
        }
      }
    }
  }

  .galleryWrapper {
	position: fixed;
	overflow: hidden;
	z-index: -100;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	background: linear-gradient(225deg, #292F36 0%, #0B0C0D 100%);
	opacity: 0;
	transition: opacity linear 0.2s;

	.navigationLeft,
	.navigationRight {
	  background: none;

	  img {
		display: block;
		width: 100%;
		height: 100%;
	  }
	}

	.header {
	  z-index: 900;
	  position: absolute;
	  padding: 3.4rem 0 0 0;
	  width: 100%;
	  left: 0;
	  right: 0;

	  > div {
		align-items: center;
		justify-content: center;
	  }

	  .logo {
		width: 17rem;
		height: 5.6rem;

		img {
		  display: block;
		  width: 100%;
		  height: 100%;
		}
	  }
	}

	.closeGallery {
	  display: block;
	  position: absolute;
	  right: 3rem;
	  top: 3rem;
	  width: 3rem;
	  height: 3rem;
	  z-index: 1000;
	  background: url(../../assets/images/close-blue.svg) no-repeat center center;
	  background-size: contain;
	}

	&.visible {
	  visibility: visible;
	  opacity: 1;
	  z-index: 100
	}

	.galleryOuter, .galleryInner {
	  min-width: 100%;
	  min-height: 100%;
	}

	.galleryInner {
	  display: flex;
	  align-items: center;
	}

	.swiperWrapper,
	.swiperSlide {
	  min-width: 100%;
	  height: 70vh;
	}

	.swiperSlide {
	  width: 100%;
	  max-width: 114rem;
	  display: flex;

	  .swiperImage {
		position: relative;
		min-width: 100%;
		min-height: 100%;

	  }

	  .largeImageOne,
	  .largeImageTwo,
	  .largeImageTree {
		min-width: 100%;
		height: 70vh;
	  }

	  .largeImageOne {
		background: url(../../assets/images/be-inspired-large-1.jpg) no-repeat center center;
		background-size: contain;
	  }

	  .largeImageTwo {
		background: url(../../assets/images/be-inspired-large-2.jpg) no-repeat center center;
		background-size: contain;
	  }

	  .largeImageTree {
		background: url(../../assets/images/be-inspired-large-3.jpg) no-repeat center center;
		background-size: contain;
	  }
	}
  }
}

@media (max-width: 989px) {

  .beInspired {

	.galleryWrapper {
	  padding-top: 8rem;

	  .closeGallery {
		top: 8rem;
		padding-bottom: 1rem;
	  }

	  .header {
		display: none !important;
	  }
	}

	.mainContent {

	  .largeScreen {
		display: none;
	  }

	  h1 {
		font-size: 2.1rem;
	  }

	  .leftContent {
		max-width: 100%;

		blockquote {
		  margin-top: 2rem;
		}
	  }

	  .rightContent {
		padding: 0 0 2rem 0;

		.thumbs {
		  display: block;
		  max-width: 28rem;
		  margin-left: auto;
		  margin-right: auto;

		  a {
			margin: 0 auto 2rem auto;
			width: 100%;
			padding-top: 100%;
		  }
		}
	  }

	  .lowScreen {
		display: block;

		> div > div:first-of-type {
		  padding: 0;
		}
	  }
	}
  }
}

@media (min-width: 990px) {

  .beInspired {

	.mainContent {

	  .largeScreen {
		display: block;
	  }

	  .lowScreen {
		display: none;
	  }
	}
  }
}
