@import '~style/helpers';

.checkout {

  .productList {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;

	li {
	  display: flex;
	  color: $white;
	  border-top: 1px solid rgba(255, 255, 255, 0.5);
	  padding: 2rem 0;
	  justify-content: flex-start;

	  &:first-child {
		border: none;
		padding: 0 0 2rem 0;

		b {
		  font-size: 1.2rem;
		}
	  }

	  &:last-child {
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	  }

	  &.product {
		min-height: 9rem;
	  }

	  .productInner {
		display: flex;
		align-items: center;
		width: 16.66%;

		.title {
		  display: none;
		}
	  }

	  b {
		display: block;
		width: 16.66%;
		text-transform: uppercase;
	  }

	  .productImg {

		img {
		  display: block;
		  width: 9rem;
		  height: 9rem;
		}
	  }

	  .productDescription {

		span {
		  display: block;
		  max-width: 15rem;
		}
	  }

	  .productMessage {
		text-transform: uppercase;

		span {
		  display: flex;
		  align-items: center;
		}

		button {
		  position: relative;

		  &:before {
			font-size: 1.2rem;
			position: absolute;
			transition: opacity linear 0.2s;
			opacity: 0;
			content: 'Após finalizado o pedido não será possível alterar o nome na garrafa.';
			background: #1C1F24;
			border: 1px solid $blue;
			color: $white;
			width: 15rem;
			padding: .5rem .75rem;
			border-radius: .35rem;
			text-align: left;
			right: 0;
			bottom: 3.5rem;
			left: 50%;
			margin-left: -7.5rem;
		  }

		  &:hover {

			&:before {
			  opacity: 1;
			}
		  }
		}
	  }

	  .productMessage,
	  .subtotal {

		button {
		  background: transparent;
		  border: none;
		  padding: 0;
		  outline: none;
		  margin-bottom: .5rem;
		  cursor: pointer;
		}

		img {
		  width: 2.5rem;
		  height: 2.5rem;
		}
	  }

	  .subtotal {


		img {
		  width: 1.8rem;
		  height: 1.8rem;
		}
	  }

	  input[type=number] {
		border: 1px solid $white;
		background: transparent;
		font-size: 2.1rem;
		color: $white;
		padding: 0.75rem 3rem 0.75rem 1.5rem;
		width: 10rem;
		outline: none;
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
	  }

	  .quantityBoxInner {
		position: relative;
		width: 10rem;

		button {
		  background: transparent;
		  border-radius: 0;
		  outline: 0;
		  cursor: pointer;
		  display: block;
		  position: absolute;
		  right: .75rem;
		  border: 0;
		  padding: 0;

		  img {
			width: 1.2rem;
			height: 1.2rem;
			padding: 0;
		  }

		  &.arrowUp {
			top: .5rem;
		  }

		  &.arrowDown {
			bottom: .5rem;
		  }

		  &.mb {
			display: none;
		  }
		}
	  }
	}
  }

  .productsFooter {
	display: flex;
	margin-top: 3rem;
	flex-direction: row;
	justify-content: space-between;

	.addNewProduct {

	  .addNewLink {
		@include blue-button-large();
		font-size: 1.6rem;
		height: 4rem;
		line-height: 3.7rem;
	  }

	  p {
		max-width: 27rem;
		margin-top: 2.7rem;
		font-size: 1.4rem;
	  }
	}

	.productTotal {
	  font-size: 2.1rem;
	  font-weight: bold;
	  color: $white;
	  display: block;
	  padding: 3rem 0 0 0;

	  span {
		text-transform: uppercase;
	  }
	}
  }

  .productFinish {
	display: flex;
	flex-direction: column;

	.finishBuy {
	  @include blue-button-large();
	  margin: 2.7rem 0;
	  position: relative;

	  &:hover {

		.loading {
		  border-color: $white !important;
		}
	  }
	}

	p {
	  margin: 0 0 2.7rem 0;
	  max-width: 25rem;
	  font-size: 1.4rem
	}

	img {
	  display: block;
	  width: 12.4rem;
	  height: auto;
	}
  }

  .goBack {
	color: $blue;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.6rem;
	letter-spacing: 3px;
	padding-left: 4rem;
	position: relative;
	display: block;
	margin-top: 6.7rem;
	transition: all linear 0.2s;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;

	&:hover {
	  color: $white;

	  &:after {
		background: url(../../assets/images/back-white.svg) no-repeat 0 0;
		background-size: contain;
	  }
	}

	&:after {
	  position: absolute;
	  content: '';
	  width: 3rem;
	  top: .4rem;
	  bottom: 0;
	  left: 0;
	  background: url(../../assets/images/back-blue.svg) no-repeat 0 0;
	  background-size: contain
	}
  }

  footer {
	background: transparent;
  }

  .loading {
	display: none;
	position: absolute;
	width: 2rem;
	height: 2rem;
	border: 2px dashed $blue;
	right: 1rem;
	top: 50%;
	margin-top: -1rem;
	border-radius: 100%;
	@include spinAnimation();

	&.visible {
	  display: block;
	}
  }
}

@media (max-width: 989px) {

  .checkout {

	.productList {

	  li {

		input[type=number] {
		  padding: 0.75rem .5rem;
		  width: 5rem;
		  text-align: center;
		}

		.quantityBoxInner {
		  position: relative;
		  width: 12rem;
		  text-align: center;

		  button {
			background: transparent;
			border-radius: 0;
			outline: 0;
			cursor: pointer;
			display: block;
			position: absolute;
			border: 0;
			padding: 0;
			width: 2.2rem;
			height: 2.2rem;
			top: 50% !important;
			margin-top: -1.1rem;

			img {
			  width: 2.2rem;
			  height: 2.2rem;
			  padding: 0;
			}

			&.arrowUp, &.arrowDown {
			  display: none;
			}

			&.mb {
			  display: block;
			}

			&.arrowUp {
			  right: 0;
			}

			&.arrowDown {
			  left: 0;
			}
		  }
		}
	  }
	}
  }
}

@media (min-width: 320px) {

  .checkout {

	h1 {
	  font-size: 2.1rem;
	  padding-bottom: 2rem;
	}

	.productList {
	  display: flex;
	  flex-direction: column;

	  .productListHeader {
		display: none;
	  }

	  li {
		flex-wrap: wrap;
		border-top: none;

		input[type=number] {
		  padding-top: .5rem;
		  padding-bottom: .5rem;
		}

		.productImg {
		  width: 10rem;
		  flex-shrink: 0;
		}

		.productInner {
		  align-items: flex-start;
		  flex-direction: column;
		  margin-bottom: 3.5rem;

		  &:last-of-type {
			margin-bottom: 1rem;
		  }

		  .title {
			display: block;
			width: 100%;
			padding-bottom: .5rem;
			margin-bottom: 1.5rem;
			border-bottom: 2px solid rgba(255, 255, 255, 0.5);
		  }
		}

		.unitPrice, .quantityBox {
		  min-width: 50%;
		  flex-basis: 50%;
		  flex-shrink: 0;
		}

		.unitPrice {

		  span {
			margin: auto 0;
		  }
		}

		.subtotal {
		  display: flex;
		  flex-direction: row;
		  flex-wrap: wrap;
		  width: 100%;
		  flex-shrink: 0;
		  flex-grow: 1;
		  flex-basis: 100%;

		  button {
			display: block;
			padding-top: 1rem;
			margin-left: auto;
			margin-bottom: 0 !important
		  }

		  span {
			display: block;
			padding-top: 1rem;
		  }
		}

		.productDescription {
		  flex-shrink: 0;
		  flex-grow: 1;
		  min-width: 15rem;
		  flex-basis: 15rem;

		  span {
			width: 100%;
			display: block;
			margin: auto 0;
		  }
		}

		.productMessage {
		  flex-grow: 1;
		  flex-shrink: 0;
		  flex-basis: 100%;

		  button {
			margin-left: 1rem;
		  }
		}
	  }
	}

	.productsFooter {
	  flex-direction: column;

	  .addNewProduct {
		margin-top: .5rem;

		.goBack {
		  display: none;
		}

		p, .addNewLink {
		  min-width: 100%;
		}

		.addNewLink {
		  font-size: 1.2rem;
		}

		p {
		  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		  padding-bottom: 3rem;
		}
	  }

	  .productFinish {

		.productTotal {
		  display: none;
		}

		.goBack {
		  margin-top: 3rem;
		}
	  }
	}

	footer {
	  padding-top: 1rem;
	  display: block;

	  small {
		display: block;
		padding-top: 1.5rem;
	  }
	}
  }
}

@media (min-width: 990px) {

  .checkout {

	> div:first-of-type {
	  margin-bottom: auto;
	}

	h1 {
	  font-size: 4.8rem;
	  padding-bottom: 9rem;
	}

	.productList {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  width: 100%;

	  .productListHeader {
		display: flex;
	  }

	  li {
		display: flex;
		flex-direction: row;
		color: $white;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		padding: 2rem 0;
		justify-content: flex-start;
		min-width: 100%;

		.productDescription,
		.productMessage,
		.productImg,
		.unitPrice,
		.subtotal,
		.quantityBox {
		  flex: 1;
		  width: auto;
		  flex-shrink: 0;
		  min-width: 10%;
		}

		&:first-child {
		  border: none;
		  padding: 0 0 2rem 0;

		  b {
			font-size: 1.2rem;
		  }
		}

		&:last-child {
		  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		}

		&.product {
		  min-height: 9rem;
		}

		.productInner {
		  display: flex;
		  align-items: center;
		  width: 16.66% !important;
		  flex-direction: row;
		  margin-bottom: 0;

		  .title {
			display: none;
		  }
		}

		b {
		  display: block;
		  width: 16.66%;
		  text-transform: uppercase;
		}

		.productImg {

		  img {
			display: block;
			width: 9rem;
			height: 9rem;
		  }
		}

		.productDescription {

		  span {
			display: block;
			max-width: 15rem;
		  }
		}

		.productMessage,
		.subtotal {

		  button {
			background: transparent;
			border: none;
			padding: 0;
			outline: none;
			margin-bottom: .5rem;
			margin-left: 1rem;
			cursor: pointer;
		  }

		  img {
			width: 2.5rem;
			height: 2.5rem;
		  }
		}

		.subtotal {

		  button {
			margin-left: auto;
		  }

		  img {
			width: 1.8rem;
			height: 1.8rem;
		  }
		}

		input[type=number] {
		  padding: 0.75rem 3rem 0.75rem 1.5rem;
		}
	  }
	}

	.productsFooter {
	  display: flex;
	  margin-top: 3rem;
	  flex-direction: row;
	  justify-content: space-between;

	  .addNewProduct {

		.addNewLink {
		  @include blue-button-large();
		  font-size: 1.6rem;
		  height: 4rem;
		  line-height: 3.7rem;
		}

		.goBack {
		  display: block;
		  margin-top: 0;
		}

		.productTotal {
		  display: none;
		}

		p {
		  max-width: 27rem;
		  margin-top: 2.7rem;
		  font-size: 1.4rem;
		  border: none;
		}
	  }

	  .productFinish {
		display: flex;
		flex-direction: column;

		.goBack {
		  display: none;
		}

		.productTotal {
		  display: block;
		  padding-top: 0;
		  font-size: 2.1rem;
		  font-weight: bold;
		  color: $white;

		  span {
			text-transform: uppercase;
		  }
		}

		.finishBuy {
		  @include blue-button-large();
		  margin: 2.7rem 0;
		}

		p {
		  margin: 0 0 2.7rem 0;
		  max-width: 25rem;
		  font-size: 1.4rem
		}

		img {
		  display: block;
		  width: 12.4rem;
		  height: auto;
		}
	  }
	}

	footer {
	  background: transparent;
	}
  }
}
