@import '~style/helpers';

.customize {
  position: relative;
  z-index: 100;
  background: #292F36 linear-gradient(#292F36 0%, #0B0C0D 100%);

  video {
	display: block;
	visibility: hidden;
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 300 !important;

	&:-webkit-full-screen {
	  width: 100%;
	  height: 100%;
	}

	&.showVideo {
	  visibility: visible;
	}
  }

   > div:first-of-type {
	 margin: auto;
   }

  footer {
	width: 100%;
	padding-top: 2rem;
  }

  .customBottle {
    width: 100%;
	position: relative;

	.customBottleFlare {
	  position: absolute;
	  width: 100%;
	  z-index: 1;
	  background: url(../../assets/images/custom-bottle-lens-flare.png) no-repeat;
	  background-size: contain;
	}

	.customBottleHorizontal,
	.customBottleHorizontalReflex {
	  position: relative;
	}

	.customBottleHorizontal {
	  background: url(../../assets/images/custom-bottle.png) no-repeat 0 0;
	  background-size: contain;
	}

	.customBottleHorizontalReflex {
	  background: url(../../assets/images/custom-bottle-reflex.png) no-repeat 0 top;
	  background-size: contain;
	}

    .customBottleInner {
      width: 65%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      overflow: hidden;
	  height: 100%;
	  position: absolute;
	  z-index: 100;
    }

    .bottleText {
      background: transparent;
      outline: 0;
      border: none;
      text-align: center;
      min-width: 1rem;
      font-family: 'Belvedere-Regular';
      white-space: nowrap;
      text-transform: uppercase;
      color: rgba(244,255,255,0.8);
	  display: block;
    }

	.addMessageOnBottle {
	  border: 1px solid rgba(255, 255, 255, 0.5);
	  flex-direction: column;
	  justify-content: center;
	  z-index: 100;

	  .secondInput {
		display: block;
		background: transparent;
		border: none;
		font-family: 'Belvedere-Regular';
		outline: none;
		resize: none;
		color: $white;
		text-transform: uppercase;
		overflow-y: hidden;
		width: 100%;
	  }

	  .bottleTextArea {
		width: 100%;
		height: 100%;
		display: flex;
		margin-top: 1.3rem;
		justify-content: space-between;
	  }

	  .showCustomBottle {
		@include blue-button-large();
		font-weight: normal;
		letter-spacing: 3px;

		&:focus {
		  background: transparent !important;
		}

		&:disabled {
		  background: none;
		  color: $blue;
		  opacity: 0.35;
		}
	  }
	}
  }

  .badWord {
	input[type="text"] {
	  color: $red !important;
	  width: inherit !important;
	}
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {

  .customize {

	.customBottle {

	  .customBottleHorizontal {
		background-image: url(../../assets/images/custom-bottle-2x.png);
	  }

	  .customBottleHorizontalReflex {
		background-image: url(../../assets/images/custom-bottle-reflex-2x.png);
	  }

	  .customBottleFlare {
		position: absolute;
		width: 100%;
		background-image: url(../../assets/images/custom-bottle-lens-flare-2x.png);
	  }
	}
  }
}

@media (min-width: 320px) {

  .customize {
	overflow-x: hidden;

	h1 {
	  font-size: 1.9rem;
	  margin-bottom: 2rem;
	  letter-spacing: 2px;
	  line-height: 5rem;
	}

	.customBottleInner {
	  left: -.5rem;
	}

	.customBottleHorizontal,
	.customBottleHorizontalReflex {
	  width: 105%;
	  padding-bottom: 23%;
	}

	.customBottleHorizontalReflex {
	  margin-bottom: -3rem;
	}

	.customBottleFlare {
	  padding-bottom: 57.5%;
	  top: -15%;
	  background-position: -10% 0 !important;
	}

	.customBottle {

	  .bottleText {
		font-size: 1.6rem;
		line-height: 3.5rem;
	  }

	  &.reducedFontSize {

		.bottleText {
		  font-size: 1.2rem;
		  line-height: 3rem
		}
	  }

	  .addMessageOnBottle {
		position: relative;
		padding: 2rem;

		.bottleTextArea,
		.secondInput,
		button[type=submit] {
		  width: 100%;
		  display: block;
		}

		button[type=submit] {
		  font-size: 1.2rem;
		}

		.secondInput {
		  font-size: 2rem;
		  line-height: 3rem;
		  margin-bottom: 2rem;

		  &::-webkit-input-placeholder {
			text-transform: none;
			line-height: 3rem;
		  }

		  &::-moz-placeholder {
			text-transform: none;
			line-height: 3rem;
		  }

		  &:-ms-input-placeholder {
			text-transform: none;
			line-height: 3rem;
		  }

		  &:-moz-placeholder {
			text-transform: none;
			line-height: 3rem;
		  }
		}
	  }
	}

	footer {

	  p {
		font-size: 1.2rem;
	  }
	}
  }
}

@media (min-width: 480px) {

  .customize {

	button[type=submit] {
	  font-size: 1.8rem;
	}

	.customBottle {

	  .bottleText {
		font-size: 2.5rem;
		line-height: 6rem;
	  }

	  &.reducedFontSize {

		.bottleText {
		  font-size: 1.8rem;
		}
	  }
	}
  }
}

@media (min-width: 600px) {

  .customize {

	.customBottle {

	  .bottleText {
		font-size: 3.2rem;
	  }

	  &.reducedFontSize {

		.bottleText {
		  font-size: 2.5rem;
		}
	  }
	}
  }
}

@media (min-width: 800px) {

  .customize {

	.customBottle {

	  .bottleText {
		font-size: 3.6rem;
	  }

	  &.reducedFontSize {

		.bottleText {
		  font-size: 2.8rem;
		}
	  }
	}
  }
}

@media (min-width: 990px) {

  .customize {

	h1 {
	  font-size: 4.8rem;
	  margin-bottom: 4rem;
	  line-height: 4.8rem;
	}

	.customBottleHorizontalReflex {
	  margin-bottom: 0;
	}

	.customBottleInner {
	  left: -1rem;
	}

	.customBottle {

	  .customBottleFlare {
		top: -35%;
	  }

	  .bottleText {
		font-size: 5.5rem;
		line-height: 14rem;
		height: 14rem;
		margin-top: 1rem;
		width: 60rem;
	  }

	  .addMessageOnBottle {
		position: absolute;
		display: flex;
		width: 100%;
		height: 16rem;
		bottom: 0;

		.bottleTextArea {
		  display: flex;
		}

		button[type=submit] {
		  width: 28rem;
		  display: block;
		  text-align: center;
		  font-size: 2.1rem;
		  flex-shrink: 0;
		  flex-grow: 1;
		}

		.secondInput {
		  font-size: 4rem;
		  line-height: 10rem;
		  margin-bottom: 0;

		  &::-webkit-input-placeholder {
			text-transform: none;
			line-height: 10rem;
		  }

		  &::-moz-placeholder {
			text-transform: none;
			line-height: 10rem;
		  }

		  &:-ms-input-placeholder {
			text-transform: none;
			line-height: 10rem;
		  }

		  &:-moz-placeholder {
			text-transform: none;
			line-height: 10rem;
		  }
		}

		.bottleTextArea {
		  margin-top: 1.3rem;
		}
	  }

	  &.reducedFontSize {

		.bottleText {
		  font-size: 3.6rem;
		  line-height: 10rem;
		  height: 10rem;
		}
	  }
	}

	footer {

	  p {
		font-size: 1.6rem;
	  }
	}
  }
}

@media (min-width: 1100px) {

  .customize {

	.customBottle {

	  .bottleText {
		width: 67rem;
	  }
	}
  }
}
