@import '~style/helpers';

.home {
  width: 100%;
  position: relative;
  z-index: 200;

  .mainContent {
	display: flex;
	flex-shrink: 0;
	align-content: center;
	flex-wrap: wrap;

	.preOrder {
	  color: $white;
	  font-size: 1.3rem;
	  font-weight: bold;
	  margin-bottom: 3rem;
	  line-height: 2.3rem;
	  display: flex;

	  p {
		font-size: 1.2rem;
		padding-top: .25rem;
		line-height: 1.5rem;
	  }

	  &.hide {
		display: none !important;
	  }

	  a {
		background: $blue;
		color: $white;
		text-decoration: none;
		font-weight: bold;
		display: block;
		flex-shrink: 0;
		flex-grow: 0;

		span {
		  display: flex;
		  justify-items: center;
		  font-family: 'Oswald', sans-serif;
		  line-height: 1;
		  padding: .45rem 1rem .6rem 1rem;
		  align-items: center;
		  font-size: 1.9rem;
		  font-weight: 500;
		  text-transform: uppercase;
		}

		img {
		  display: block;
		  margin-right: .75rem;
		  margin-top: .25rem
		}
	  }
	}

	h2 {

	  span {
		color: $blue;
	  }

	  margin: 1.8rem 0 2.3rem 0;
	}

	.customizeAndBuy {
	  @include blue-button-large();
	}

	small {
	  display: block;
	}
  }
}

@media (min-width: 320px) {

  .home {

	display: block;

	.smallBottle {
	  display: block;
	}

	.largeBottle {
	  display: none;
	}

	.mainContent {
	  display: block;
	  width: 100%;
	  z-index: 100;

	  .preOrder {
		flex-direction: column;
		align-items: center;

		p {
		  margin: 1rem 0 0 0;
		  width: auto;
		  text-align: center;
		}

		a {
		  max-width: 28rem;

		  span {
			justify-content: center;
		  }
		}
	  }

	  h1 {
		font-size: 2.8rem;
	  }

	  h2 {
		margin: 0 0 2rem 0;
		font-size: 2.1rem;
	  }

	  .customizeAndBuy {
		width: 100%;
		font-size: 1.4rem;
	  }

	  p {
		font-size: 1.6rem;
		margin: 1rem 0 2rem 0;
	  }

	  small {
		padding: 3rem 0 1.5rem 0;
	  }
	}

	footer {

	  div, small {
		display: block;
	  }

	  small {
		padding: .5rem 0;
	  }
	}
  }
}

@media (min-width: 480px) {

  .home {

	.mainContent {

	  h1 {
		font-size: 4rem;
	  }

	  h2 {
		font-size: 2.6rem;
	  }
	}
  }
}

@media (min-width: 990px) {

  .home {
	display: flex;

	.smallBottle {
	  display: none;
	}

	.largeBottle {
	  display: block;
	  z-index: -1;
	}

	.mainContent {
	  display: flex;
	  padding-top: 0;
	  flex-shrink: 0;
	  align-content: center;
	  flex-wrap: wrap;
	  width: 50%;

	  .preOrder {
		flex-direction: row;
		align-items: flex-start;

		p {
		  margin: 0 0 0 1rem;
		  width: auto;
		  text-align: left;
		}

		a {
		  max-width: 28rem;

		  span {
			justify-content: center;
		  }
		}
	  }

	  h1 {
		font-size: 7.2rem;
	  }

	  h2 {
		font-size: 4.8rem;
	  }

	  p {
		font-size: 2.1rem;
		margin: 0 0 3.8rem 0;
	  }

	  .customizeAndBuy {
		width: auto;
		font-size: 1.8rem;
	  }

	  small {
		padding: 6rem 0;
	  }
	}

	footer {

	  div {
		display: flex;
	  }

	  small {
		padding: 0;
	  }
	}
  }
}
