@import '~style/helpers';

.contact {

  footer {
	display: none;
  }

  .shareIcons {
	width: 100%;
  }

  .mainContent {
    height: 100%;
  }


  .phoneContent,
  .mailContent {
    color: $white;
    margin: 3.5rem 0;
    width: 49rem;

    .phoneIcon,
    .mailIcon {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 2rem;
    }

    .phoneIcon {
      background: url(../../assets/images/contact-phone.svg) no-repeat center center / contain;
    }

    .mailIcon {
      height: 2rem;
      background: url(../../assets/images/contact-mail.svg) no-repeat center center / contain;
    }
  }

  .mailContent {
    padding-bottom: 3.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .distribution {
    margin-bottom: 10rem;

    h4 {
      letter-spacing: 2px;
    }

    .drinkLogo {
      width: 11rem;
      height: 4rem;
      background: url(../../assets/images/famous-drink.svg) no-repeat center center / contain;
      margin-top: 2.5rem;
    }
  }
}

@media (max-width: 989px) {

  .contact {
	display: block;
	position: relative;
	z-index: 100;
	min-height: 100%;
	background: #292F36 linear-gradient(#292F36 0%, #0B0C0D 100%);

	> div:first-of-type {
	  display: block;

	  > div:first-of-type {
		display: block;
	  }
	}

	footer {
	  margin-top: auto;
	  display: block;

	  > div {
		display: block;

		small {
		  display: block;
		  padding: .5rem 0;
		  font-size: 1rem;
		}
	  }
	}

	h1 {
	  font-size: 2.1rem;
	}

	p, h4 {
	  font-size: 1.6rem
	}

	.phoneContent,
	.mailContent {
	  margin: 2rem 0;
	  width: 100%;
	  display: block;

	  span {
		display: block;
		margin-bottom: 1rem;
	  }
	}

	strong {
	  font-size: 1.4rem;
	  white-space: pre-wrap;
	}

	.shareIcons {

	  a {
		display: none;
	  }
	}

	.distribution {
	  margin-bottom: 3rem;
	}
  }
}

@media (min-width: 990px) {

  .contact {

	> div:first-of-type {
	  margin-top: auto;
	}

	.mainContent {
	  max-height: 56.9rem;
	}
  }
}
