@import '~style/helpers.scss';

.belvedereBespoke {
  width: 100%;
  margin-top: auto;
  padding: 4rem 0;

  h4 {
    letter-spacing: .4rem;
    margin-bottom: 2rem;

    span {
      color: $blue;
    }
  }
}

@media (max-width: 989px) {

  .belvedereBespoke {
	padding: 1rem 0;
  }
}
