@import '~style/helpers';

@keyframes openMenuAnimation {
  from, 60%, 75%, 90%, to {
	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
	opacity: 0;
	transform: translate3d(0, -200px, 0);
  }

  60% {
	opacity: 1;
	transform: translate3d(0, 25px, 0);
  }

  75% {
	transform: translate3d(0, -10px, 0);
  }

  90% {
	transform: translate3d(0, 5px, 0);
  }

  to {
	transform: none;
  }
}

.header {
  width: 100%;
  padding: 3.4rem 0;
  z-index: 10;
  align-self: flex-start;

  .dropMenu, .dropMenuNav {
	display: none;
  }

  &.dropMenuClosed {
	.dropMenuNav {
	  animation: closeMenuAnimation 1s;
	}
  }

  .horizontalMenu {
	display: flex;
	flex: 1;
	z-index: 100;
  }

  h1 {
	margin: 0;
	padding: 0 15px;
	font-size: 1.6rem;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
  }

  .logo {
	display: block;
	width: 17rem;
	height: 5.6rem;

	img {
	  width: 100%;
	  height: 100%;
	}
  }

  .navLink,
  .cartLink {
	color: $white;
	font-family: 'Knockout';
	text-decoration: none;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 3px;
  }

  nav {
	margin-left: 5rem;

	a {
	  display: inline-block;
	  padding: 0 1.5rem;
	  text-align: center;
	  background: rgba(255,255,255,0);
	  will-change: background-color;
	  transition: all linear 0.2s;

	  &:hover, &.active {
		color: $blue;
	  }
	}
  }

  &.dropMenuOpened {
	position: fixed;
	top: 0;
	bottom: 0;
	min-height: 100vh;
	z-index: 4000;
	background: linear-gradient(225deg, $gray-3 0%, $black 100%);
  }

  &.dropMenuClosed {
	opacity: 1;
  }
}

@media (max-width: 989px) {

  .header {
	position: fixed;
	background: #2A2F37;
	top: 0;
	z-index: 1000;
	padding: 1.2rem 0 1.2rem 0;

	.logo {
	  width: 12rem;
	  height: 4rem;
	  display: inline-block;
	  float: left;
	}

	> div:first-of-type {
	  display: block;
	}

	.horizontalMenu {
	  display: none;
	}

	.dropMenu {
	  display: inline-block;
	  cursor: pointer;
	  float: right;
	}

	.toggleDropMenu {
	  padding: .5rem 0 1rem 1rem;
	  display: block;

	  img {
		display: none;
	  }

	  span {
		display: block;
		width: 3rem;
		border: .15rem solid $white;
		margin-bottom: .75rem;

		&:first-of-type {
		  margin-top: .75rem;
		}

		&:last-of-type {
		  width: 2rem;
		  margin-bottom: 0;
		}
	  }
	}

	.dropMenuNav {
	  z-index: 100;
	  left: 0;
	  right: 0;
	  height: 100%;
	  top: 7.6rem;
	  flex-wrap: wrap;
	  position: fixed;
	  overflow-y: scroll;


	  .dropMenuInner {
		width: 100%;
		padding: 0 1.5rem;
	  }

	  nav {
		margin-left: 0;

		a {
		  text-align: left;
		  display: block;
		  font-size: 1.6rem;
		  font-weight: bold;
		  padding: 2rem 0;
		  border-bottom: 2px solid rgba(255, 255, 255, 0.5);

		  &:last-of-type {
			border: none;
		  }
		}
	  }

	  .customizeAndBuy {
		@include blue-button-large();
		width: 100%;
		margin: 1rem 0 3rem 0;
		text-align: center;
		font-size: 1.4rem;
	  }

	  small {
		display: block;
		padding-bottom: 2rem;
	  }

	  footer {
		padding: 2.5rem 1.5rem 7.6rem 1.5rem;

		 > div:first-of-type {
		  padding: 0;
		  flex-direction: column;
		}

		small {
		  font-size: 1rem;
		  display: block;
		  padding: 0 0 1rem 0;
		  margin: 0;
		}
	  }
	}

	&.dropMenuOpened {

	  .dropMenuNav {
		display: flex;
		animation: openMenuAnimation 1s;
	  }

	  .toggleDropMenu {
		padding-top: .5rem;

		span {
		  display: none;
		}

		img {
		  border: none;
		  display: block;
		  width: 2.2rem;
		  height: 2.2rem;
		}
	  }
	}
  }
}

@media (min-width: 990px) {

  .header {

	.headerCart {
	  margin-left: auto;
	}

	&.hideMenu {

	  nav, .headerCart {
		display: none;
	  }
	}
  }
}
