@font-face {
  font-family: 'Knockout';
  src: url('../assets/fonts/Knockout-HTF28-JuniorFeatherwt.woff2') format('woff2'),
       url('../assets/fonts/Knockout-HTF28-JuniorFeatherwt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic';
  src: url('../assets/fonts/TradeGothicLTStd.woff2') format('woff2'),
       url('../assets/fonts/TradeGothicLTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic2';
  src: url('../assets/fonts/TradeGothicLTStd-Bd2.woff2') format('woff2'),
       url('../assets/fonts/TradeGothicLTStd-Bd2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothic20';
  src: url('../assets/fonts/TradeGothicLTStd-BdCn20.woff2') format('woff2'),
       url('../assets/fonts/TradeGothicLTStd-BdCn20.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Belvedere-Regular';
  src: url('../assets/fonts/Belvedere-Regular.woff2') format('woff2'),
       url('../assets/fonts/Belvedere-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
