@import 'helpers';
@import 'fonts';
@import 'vendor/animate';
@import 'vendor/swiper.min';
@import url('//fonts.googleapis.com/css?family=Oswald:400,500');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'TradeGothic', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 14px;
  	overflow-x: hidden;

  &.hideScroll {
	overflow-y: hidden;
	height: 100%;
  }
}

* {
	box-sizing: border-box;
}

img {
  border: none;
}

#app {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrap {
	width: 100%;
	z-index: 100;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 1;
    min-height: 100vh;

  .inner {
		width: 100%;
	}
}

.container {
	height: 100%;
	max-width: 117rem;
	margin: 0 auto;
	position: relative;
}

.flex {
	display: flex;
	flex: 1;
}

p {
	font-size: 2.1rem;
	color: $white;
}

h1 {
	font-size: 7.2rem;
}

h2 {
	font-size: 4.8rem;
}

h3 {
	font-size: 3.6rem;
}

h4 {
	font-size: 2.1rem;
}

h5 {
	font-size: 1.6rem;
}

h6 {
	font-size: 1.2rem;
}

h1, h2, h4 {
	color: $white;
	text-transform: uppercase;
	font-family: 'TradeGothic20', arial, sans-serif;
	margin: 0;
}

h3, h5, h6 {
	color: $white;
	text-transform: uppercase;
	font-family: 'TradeGothic2', arial, sans-serif;
	margin: 0;
}

.center-vertical {
	align-items: center;
}

.left-tree,
.right-tree {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: 0;
}

.left-tree {
	left: 0;
	background: url(../assets/images/left-tree.svg) no-repeat;
    background-position: center 2rem;
    background-size: contain;
}

.right-tree {
	right: 0;
	background: url(../assets/images/right-tree.svg) no-repeat;
    background-size: contain;
}

.sidebar {
	position: relative;
	margin-left: auto;
}

p {
  width: 100%;
}

small {
	color: $white;
	font-size: 1.4rem;
}

::-ms-clear {
  display: none;
}

canvas {
  display: block;
  position: fixed;
  z-index: -10;
  top: -1000px;
  left: -99999px;
}

@media (max-width: 989px) {

  #app,
  .container,
  .flex {
	display: block !important;
	flex: 0 !important;
  }

  #app {
	min-height: 100vh;
  }

  .wrap {
	display: flex !important;
	flex-direction: column;
	min-height: 100vh !important;
	padding-top: 9rem;
  }

  .container {
	padding-left: 2rem;
	padding-right: 2rem
  }

  .left-tree {
	display: none;
  }

  .right-tree {
	width: 100%;
	background-position: center 0;
  }

  #app {
	background: linear-gradient(to bottom, #292F36 0%, #0B0C0D 100%);
  }
}

@media (min-width: 990px) {

  .container {
	padding-left: 1.5rem;
	padding-right: 1.5rem
  }

  #app {
	background: linear-gradient(225deg, #292F36 0%, #0B0C0D 100%);
  }

  .wrap {
	padding-top: 0;
  }

  .left-tree {
	display: block;
  }

  .right-tree {
	width: 50%;
	background-position: center 2rem;
  }
}
