@mixin fill() {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

@mixin scroll() {
	overflow: auto;
	overflow-scrolling: touch;

	& > .inner {
		position: relative;
		transform: translateZ(0);
		overflow: hidden;
	}
}

@mixin blue-button-large() {
	color: $blue;
  	height: 6rem;
    line-height: 5.8rem;
	border: 0.1rem solid $blue !important;
	text-transform: uppercase;
	text-decoration: none;
	width: auto;
	padding: 0 2rem;
	font-size: 1.8rem;
	transition: all linear 0.2s;
  	background: transparent;
  	border-radius: 0 !important;
  	outline: none;
  	cursor: pointer;
  	display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;

  span {
	  display: block;
	  text-align: center;
	}

	&:hover {
		background-color: rgba(71,151,225,0.7);
		color: $white;
	}
}

@mixin ledAnimation() {

  @keyframes led {
	0% { opacity: 0 }
	5% { opacity: 0 }
	10% { opacity: 0 }
	15% { opacity: 0 }
	20% { opacity: 0 }
	25% { opacity: 0 }
	50% { opacity: 0 }
	55% { opacity: 1 }
	60% { opacity: 1 }
	65% { opacity: 1 }
	70% { opacity: 1 }
	75% { opacity: 1 }
	80% { opacity: 1 }
	85% { opacity: 1 }
	90% { opacity: 1 }
	95% { opacity: 1 }
	100% { opacity: 1 }
  }

  animation: led linear 5s infinite;
}

@mixin lensFlareAnimation() {

  @keyframes lensFlare {
	0% { opacity: 0 }
	5% { opacity: 0 }
	10% { opacity: 0 }
	15% { opacity: 0 }
	20% { opacity: 0 }
	25% { opacity: 0 }
	50% { opacity: 0 }
	53% { opacity: 0.25 }
	55% { opacity: 0.35 }
	60% { opacity: 0.45 }
	65% { opacity: 0.45 }
	70% { opacity: 0.45 }
	75% { opacity: 0.45 }
	80% { opacity: 0.45 }
	85% { opacity: 0.45 }
	90% { opacity: 0.45 }
	95% { opacity: 0.45 }
	100% { opacity: 0.45 }
  }

  animation: lensFlare linear 5s infinite;
}

@mixin spinAnimation () {

  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}

	to {
	  transform: rotate(360deg);
	}
  }

  animation: spin linear 2s infinite;
}
