@import '~style/helpers';

.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: rgba(0, 0, 0, 0.7);

  &.visible {
	display: block !important;
  };

  .modalOuter {
    position: relative;
    max-width: 51.5rem;
    margin: 0 auto;
    background: $white;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .modalContentOne {

	.modalAgeConfirmation {
	  display: block;
	}

	.modalWhiteShadow {
	  display: block;
	}

	.goToModalContentOne {
	  visibility: hidden;
	}
  }

  .modalContentTwo {

	.modalTermsPage {
	  display: block;
	}

	.modalWhiteShadow {
	  display: block;
	}

	.goToModalContentOne {
	  display: block;
	  visibility: visible;
	  font-size: 1.6rem;
	  letter-spacing: 3px;
	  text-transform: uppercase;
	  color: $white;
	  font-family: 'TradeGothic2', sans-serif;
	  font-weight: bold;
	  text-decoration: none;
	  padding: 2rem 0 0 4rem;
	  position: relative;

	  &:before {
		position: absolute;
		content: '';
		width: 2.5rem;
		height: 2rem;
		left: 0;
		bottom: .25rem;
		background: url(../../assets/images/back-white.svg) no-repeat left center;
		background-size: contain;
	  }
	}
  }

  .modalTermsPage {
	display: none;
	overflow-y: scroll;
	height: 67.9rem;

	strong, p {
	  padding-left: 1rem;
	  padding-right: 1rem;
	  margin-right: auto;
	}

	h4 {
	  text-align: center;
	  font-size: 2.1rem;
	  letter-spacing: 4px;
	  padding: 0 0 1rem 0;
	}

	p {
	  font-size: 1.4rem;

	  a {
		color: $white;
	  }
	}
  }

  .modalInner {
    background: $white;
    border: 4px solid $gray-1;
    border-top: none;
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .modalContent {
    background: $blue;
    color: $white;
    z-index: 10;
    position: relative;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }

  .modalInnerContent {

	::-webkit-scrollbar {
	  width: 0.5rem;
	  border-radius: 1rem;
	  background-color: rgba(0, 0, 0, 0);
	  margin: 0 0 0 1rem;
	  transition: all linear 2s;
	}

	&:hover {

	  ::-webkit-scrollbar {
		background: rgba(0, 0, 0, 0.1)
	  }
	}
  }

  .modalWhiteShadow {
    position: absolute;
	display: none;
    z-index: 0;
    height: 30rem;
    top: 18rem;
    width: 100%;
    left: 0;
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(229,229,229,0) 100%);
  }

  .modalAgeConfirmation {
    display: none;

    .modalLogo {
      width: 23rem;
      height: 13rem;
	  margin: 0 auto 3rem auto;
      background: url(../../assets/images/modal-logo.svg) no-repeat center center;
	  background-size: contain;
	}

	form {
	  font-family: 'TradeGothic2', sans-serif;
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  position: relative;
	  padding: 2rem 0 5rem 0;

	  fieldset {
		border: none;
	  }

	  legend {
		display: block;
		width: 100%;
		font-size: 1.3rem;
		text-transform: uppercase;
		text-align: center;
		color: $white;
	  }

	  .modalAgeInput {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin: 0 auto;
		justify-content: center;
	  }

	  input[type=tel] {
		font-family: 'Knockout', sans-serif;
		background: transparent;
		text-transform: uppercase;
		border: none;
		color: $white;
		font-size: 6.2rem;
		margin: 1rem auto 2rem auto;
		display: block;
		text-align: center;
		width: 75%;
		letter-spacing: 4px;
		padding: 0;
		outline: 0;
		text-decoration: none;
		transition: color linear 0.2s;

		&::-webkit-input-placeholder {
		  color: $white;
		  transition: color linear 0.2s;
		  text-align: center;
		}

		&::-moz-placeholder {
		  color: $white;
		  opacity: 1;
		  transition: color linear 0.2s;
		  text-align: center;

		}

		&:-ms-input-placeholder {
		  color: $white;
		  transition: color linear 0.2s;
		  text-align: center;
		}

		&:-moz-placeholder {
		  color: $white;
		  transition: color linear 0.2s;
		  text-align: center;
		}
	  }

	  input[type=submit] {
		width: 70%;
		border: 1px solid $white;
		display: block;
		background: none;
		border-radius: 0;
		margin: 0 auto;
		font-size: 2.1rem;
		text-transform: uppercase;
		color: $white;
		padding: 1.5rem 0;
		cursor: pointer;
	  }

	  .errorMsg {
		width: 100%;
		height: 5rem;
		position: absolute;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	  }

	  small {
		opacity: 0;
		transition: opacity linear 0.2s;
		line-height: 1.6rem;
	  }

	  &.error {

		input[type=tel] {
		  color: $red;

		  &::-webkit-input-placeholder {
			color: $red;
		  }

		  &::-moz-placeholder {
			color: $red;
			opacity: 1;
		  }

		  &:-ms-input-placeholder {
			color: $red;
		  }

		  &:-moz-placeholder {
			color: $red;
		  }
		}

		small {
		  width: 100%;
		  display: block;
		  opacity: 1;
		  text-align: center;
		  color: $red;
		}
	  }
	}

	h4 {
	  font-size: 2.1rem;
	  margin: 0 0 .5rem 0;
	  letter-spacing: 4px;
	  text-align: center;
	}

	p {
	  font-size: 1.2rem;
	  text-align: center;
	  padding: 0 1rem;

	  a {
		color: $white
	  }
	}
  }
}

@media (max-width: 989px) {

  .modalWrapper {
	padding: 0 1.5rem 1.5rem 1.5rem;

	.modalWhiteShadow {
	  height: 20rem;
	  top: 9rem;
	}

	.modalOuter {

	  &.modalContentTwo {

		.goToModalContentOne {
		  font-size: 1.2rem;
		  letter-spacing: 1px;
		  padding: 2rem 0 0 2.5rem;

		  &:before {
			position: absolute;
			content: '';
			width: 2rem;
			height: 1.2rem;
		  }
		}
	  }
	}

	.modalOuter,
	.modalInner {
	  padding: 0 .75rem .75rem .75rem;
	}

	.modalInner {
	  border-width: 2px;
	}

	.modalAgeConfirmation {

	  .modalLogo {
		width: 15rem;
		height: 8rem;
		margin-bottom: 1rem;
	  }

	  form {
		padding-bottom: 2.5rem;

		input[type=tel] {
		  font-size: 3rem;
		  margin-bottom: 1rem;
		}

		input[type=submit] {
		  width: 100%;
		  max-width: 22.5rem;
		  font-size: 1.6rem;
		  font-weight: bold;
		}

		.errorMsg {
		  height: 2rem;

		  small {
			font-size: 1.2rem;
		  }
		}
	  }

	  h4 {
		font-size: 1.6rem;
		margin-bottom: 0;
	  }
	}

	.modalTermsPage {

	  h4 {
		font-size: 1.3rem;
		letter-spacing: 1px;
		padding: 0 2rem 0 2rem;
	  }

	  p, strong {
		font-size: 1.2rem;
		padding-left: .5rem;
		padding-right: .5rem;
	  }
	}
  }
}
