@import '~style/helpers';

.yourBelvedere {
  align-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 200;
  position: relative;

  .messageHolder {
	font-family: 'Belvedere-Regular', sans-serif;
	font-size: 45pt;
	position: fixed;
	bottom: 0;
	top: -1000px;
	left: -99999px;
	z-index: -10;
	word-break: keep-all;
	white-space: nowrap;
  }

  .customBottleImage {
	-webkit-background-size: contain !important;
	background-size: contain !important;
	width: 5rem;
	height: 50%;
  }

  .mBottle {
	display: none;
  }

  .leftContent {
	padding-top: 4rem;
	position: relative;
	z-index: 10;

	h1 {
	  line-height: 1;

	  span {
		display: block;
		font-size: 2rem;
		text-transform: none;
	  }
	}

	h2 {
	  text-transform: none;
	}

	.unitValue, label {
	  color: $white;
	  font-size: 1.4rem;
	}

	.quantityWrapper {
	  display: flex;
	  max-width: 49rem;
	  align-items: center;

	  label {
		text-transform: uppercase;
		font-weight: bold;
		padding-top: 0.25rem
	  }

	  input[type=number] {
		border: 1px solid $white;
		background: transparent;
		font-size: 2.1rem;
		color: $white;
		padding: 0.75rem 3rem 0.75rem 1.5rem;
		width: 10rem;
		outline: none;
		-moz-appearance: textfield;

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
		  -webkit-appearance: none;
		  margin: 0;
		}
	  }

	  .quantityBox {
		position: relative;
		margin-left: 2rem;
		width: 10rem;

		button {
		  background: transparent;
		  border-radius: 0;
		  outline: 0;
		  cursor: pointer;
		  display: block;
		  position: absolute;
		  right: .5rem;
		  border: 0;

		  &.arrowUp {
			top: .35rem;
		  }

		  &.arrowDown {
			bottom: .5rem;
		  }
		}
	  }
	}

	.total {

	  p {

		a {
		  color: $blue;
		  transition: color linear 0.2s;

		  &:hover {
			color: $white;
		  }
		}
	  }
	}

	.back {
	  color: $blue;
	  text-transform: uppercase;
	  text-decoration: none;
	  font-size: 1.6rem;
	  letter-spacing: 3px;
	  padding-left: 4rem;
	  position: relative;
	  display: block;
	  margin-top: 5rem;
	  max-width: 21rem;
	  transition: all linear 0.1s;
	  font-family: 'Oswald', sans-serif;
	  font-weight: 500 !important;

	  &:hover {
		color: $white;

		&:after {
		  background: url(../../assets/images/back-white.svg) no-repeat 0 0;
		  background-size: contain;
		}
	  }

	  &:after {
		position: absolute;
		content: '';
		width: 3rem;
		top: .4rem !important;
		bottom: 0;
		left: 0;
		background: url(../../assets/images/back-blue.svg) no-repeat 0 0;
		background-size: contain
	  }
	}
  }

  .userBottle {
	align-self: flex-end;
	margin-top: auto;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 0;

	.userBottleInner {
	  height: 90%;
	  width: 100%;
	  position: absolute;
	  bottom: 0;
	  right: 0;
	}

	.userBottleImage {
	  position: absolute;
	  height: 100%;
	  width: 50%;
	  top: 0;
	  left: 20%;
	  bottom: 0;
	  right: 0;
	  background: url(../../assets/images/result-bottle.png) no-repeat center 100%;
	  background-size: contain;
	}

	.userBottleLed {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	 @include ledAnimation();
	  animation-direction: alternate;
	  background: url(../../assets/images/result-led-bottle.png) no-repeat center 100%;
	  background-size: contain;
	}

	.userBottleFlare {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  bottom: 10%;
	  right: 0;
	  @include lensFlareAnimation();
	  animation-direction: alternate;
	  background: url(../../assets/images/result-lens-flare.png) no-repeat 25% 0;
	  background-size: contain;
	}

	.bottleCharge {
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 55%;
	  height: 107%;
	  background: url(../../assets/images/charge.png) no-repeat left center;
	  z-index: -1;
	  background-size: contain;
	}

	footer {
	  position: absolute;
	  width: 100%;
	  padding: 6rem 0;
	  bottom: 0;
	  background: linear-gradient(180deg, rgba(0,0,0,0) 1.74%, #000000 100%);
	}

	.userBottleMessage {
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  color: $white;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  z-index: 10;
	  bottom: -10%;
	  right: 0;

	  p {
		text-transform: uppercase;
		font-family: 'Belvedere-Regular', sans-serif;
		font-size: 5.8vh;
		text-shadow: 0 4px 6px rgba(255, 255, 255, 0.5);
		width: auto;
		word-break: keep-all;
		white-space: nowrap;
	  }
	}
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {

  .yourBelvedere {

	.userBottle {

	  .userBottleImage {
		background: url(../../assets/images/result-bottle-2x.png) no-repeat center 100% !important;
		background-size: contain !important;
	  }

	  .userBottleLed {
		background: url(../../assets/images/result-led-bottle-2x.png) no-repeat center 100%;
		background-size: contain;
	  }

	  .userBottleFlare {
		background: url(../../assets/images/result-lens-flare-2x.png) no-repeat center center;
		background-size: contain;
	  }

	  .bottleCharge {
		background: url(../../assets/images/charge-2x.png) no-repeat left center;
		background-size: contain;
	  }
	}
  }
}

@media (min-width: 320px) {
  .yourBelvedere {

	.largeBottle {
	  display: none;
	}

	.customBottleImage {
	  width: 2rem;
	}

	.mBottle {
	  display: block;
	  position: relative;
	  height: 28rem;
	  margin: 0 auto;

	  .userBottle {
		width: 100%;

		.userBottleInner {
		  width: 100%;
		}

		.userBottleImage {
		  left: 12%;
		}

		.bottleCharge {
		  right: 3%;
		  top: -4%;
		}

		.userBottleMessage {

		  p {
			font-size: 1.2rem;
		  }
		}
	  }
	}

	.leftContent {
	  margin: 0 auto;
	  padding-top: 0;

	  .quantityWrapper {
		margin-bottom: 0;
		padding-bottom: 0;
		max-width: 100%;

		input[type=number] {
		  font-size: 1.8rem;
		}
	  }

	  .back {
		margin: 2.5rem 0;
		font-size: 1.3rem;
		padding-left: 3rem;

		&:after {
		  width: 2.2rem;
		}
	  }

	  h1 {
		font-size: 2.1rem;
		margin: 0;

		span {
		  font-size: 1.6rem;
		}
	  }

	  h2 {
		font-size: 1.6rem;
		text-transform: none;
		margin-top: 2rem;
	  }

	  .total {

		p {
		  a, b {
			font-size: 1.4rem;
		  }
		}
	  }

	  .addToOrder {
		@include blue-button-large();
		font-size: 1.4rem;
		height: 4rem;
		width: 100%;
		line-height: 4rem;
	  }
	}
  }
}

@media (min-width: 480px) {

  .yourBelvedere {

	.customBottleImage {
	  width: 2.5rem;
	}

	.mBottle {
	  height: 32rem;

	  .userBottle {

		.userBottleImage {
		  left: 16%;
		}

		.bottleCharge {
		  right: 0
		}
	  }
	}
  }
}


@media (min-width: 600px) {

  .yourBelvedere {

	.customBottleImage {
	  width: 3.5rem;
	}

	.mBottle {
	  height: 46rem;

	  .userBottle {

		.userBottleMessage {

		  p {
			font-size: 1.8rem;
		  }
		}
	  }
	}
  }
}

@media (min-width: 990px) {
  .yourBelvedere {
	align-content: flex-start;
	flex-direction: column;

	.customBottleImage {
	  width: 5rem;
	}

	.mBottle {
	  display: none;
	}

	.largeBottle {

	  display: block;
	  max-height: 2rem !important;

	  .userBottle {

		.bottleCharge {
		  top: -4%;
		  right: -5%;
		}
	  }
	}

	.leftContent {
	  padding-top: 4rem;
	  width: auto;
	  margin: 0;

	  h1 {
		margin-bottom: 3rem;
		font-size: 4.8rem;
	  }

	  h2 {
		text-transform: none;
		font-size: 2.1rem;
	  }

	  .quantityWrapper {
		display: flex;
		max-width: 49rem;
		align-items: center;
		padding-bottom: 3rem;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		margin-bottom: 3rem;

		label {
		  text-transform: uppercase;
		  font-weight: bold;
		  padding-top: 0.25rem
		}

		input[type=number] {
		  padding: 0.75rem 3rem 0.75rem 1.5rem;
		  width: 10rem;
		}
	  }

	  .quantityBox {

		.arrowUp, .arrowDown {

		  &.mb {
			display: none;
		  }
		}
	  }

	  .total {

		p {
		  font-size: 2.1rem;

		  a {
			font-size: 1.6rem;
		  }
		}
	  }

	  .addToOrder {
		@include blue-button-large();
	  }

	  .back {
		font-size: 1.6rem;
		letter-spacing: 3px;
		font-weight: bold;
		margin-top: 5rem;
		padding-left: 4rem;

		&:after {
		  width: 3rem;
		  top: -.2rem;
		}
	  }
	}

	.userBottle {
	  align-self: flex-end;
	  margin-top: auto;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  bottom: 0;
	  z-index: 0;
	  overflow: hidden;

	  .userBottleInner {
		min-height: 65rem !important;
		max-height: 90rem !important;
		width: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
	  }

	  .userBottleMessage {

		p {
		  opacity: 0.75;
		  font-size: 3.4rem;
		}
	  }
	}
  }
}

@media (min-width: 1280px) {

  .yourBelvedere {

	.userBottle {

	  .userBottleMessage {

		p {
		  opacity: 0.75;
		  font-size: 4rem;
		}
	  }
	}
  }
}

@media (max-width: 989px) {

  .yourBelvedere {

	.leftContent {

	  .quantityWrapper {

		.quantityBox {
		  display: flex;
		  justify-content: center;
		  width: 13.5rem;
		  margin-left: auto;
		  position: relative;

		  input[type=number] {
			width: 5rem;
			padding-left: 0;
			padding-right: 0;
			text-align: center;
		  }

		  .arrowUp, .arrowDown {
			display: none;

			&.mb {
			  display: block;
			  top: .5rem;
			  width: 2.6rem;
			  height: 2.6rem;
			  margin: 0;
			  padding: 0;
			}
		  }

		  .arrowUp {
			right: 0;
		  }

		  .arrowDown {
			left: 0;
		  }
		}
	  }
	}
  }
}
