@import '~style/helpers';

.sidebar {
  margin-left: auto;
  height: 100%;
  z-index: 1;

  .sidebarNavigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      display: flex;
      font-family: 'TradeGothic20', arial, sans-serif;
      font-size: 2.1rem;
      text-decoration: none;
      font-weight: bold;
      color: $white;
      opacity: 0.5;
      transition: all linear 0.2s;
      margin: 0 0 4.8rem 0;
      width: 2.5rem;

      .numberLabel {
        margin-left: auto;
      }

      span {
        display: inline-block;
      }

      .textLabel {
        display: none;
        font-family: 'Knockout', arial, sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 1.6rem;
        margin-right: 1rem;
        position: relative;
        height: 3rem;

        &:after {
          box-sizing: content-box;
          position: absolute;
          content: '';
          width: 2.2rem;
          right: 2px;
          bottom: 0;
          border-bottom: 2px solid $white;
        }
      }

      &:hover, &.active {
        opacity: 1;
      }

      &.active {
        width: auto;

        .numberLabel {
          font-size: 3.6rem;
        }

        .textLabel {
          display: inline-block;
        }
      }
    }
  }
}

@media (max-width: 989px) {

  .sidebar {
	display: none;
  }
}

@media (min-width: 990px) {

  .sidebar {
	display: flex;
  }
}
