.footer {
  width: 100%;
  align-self: flex-end;
  background: linear-gradient(180deg, rgba(0,0,0,0) 1.74%, #000000 100%);
  z-index: 10;
  padding: 6rem 0 2rem 0;

  small {
    font-size: 1.2rem;

    &.copy {
      opacity: 0.5;
    }

    &.until {
      margin-left: auto;
    }
  }
}
