<!DOCTYPE html>
<html>
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>Belvedere Vodka</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Agora você pode personalizar sua própria edição limitada da Belvedere Vodka. O presente perfeito para festividades, casamentos e aniversários. Esta coleção feita sob medida tornará sua ocasião tão única como a própria garrafa iluminada com LED.">
	<meta name="keywords" content="belvedere, bespoke, personalizada, exclusiva, festividades, presente, bebidas, natal, réveillon, fim de ano, festas">
	<meta name="msapplication-TileColor" content="#673ab8">
	<meta name="msapplication-TileImage" content="/icons/mstile-150x150.png?v=3">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Belvedere Bespoke">
	<meta name="application-name" content="Belvedere Bespoke">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#673ab8">
	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png?v=3">
	<link rel="icon" type="image/png" href="/icons/favicon-32x32.png?v=3" sizes="32x32">
	<link rel="icon" type="image/png" href="/icons/favicon-16x16.png?v=3" sizes="16x16">
	<link rel="manifest" href="./manifest.json">
	<meta property="og:url" content="https://belvederebespoke.com.br">
	<meta property="og:type" content="website">
	<meta property="fb:app_id" content="154770238587100">
	<meta property="og:image" content="/banner-1.jpg?v=1">
	<meta property="og:description" content="Agora você pode personalizar sua própria edição limitada da Belvedere Vodka. O presente perfeito para festividades, casamentos e aniversários. Esta coleção feita sob medida tornará sua ocasião tão única como a própria garrafa iluminada com LED.">
	<meta property="og:image:width" content="972">
	<meta property="og:image:height" content="548" data-react-helmet="true">
	<link rel='shortcut icon' type='image/x-icon' href='/icons/favicon.ico?v=2' />
</head>
<body></body>
</html>
