@import '~style/helpers';

.daysOfOperationModalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .75);
  display: none;
  z-index: 1100;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;

  &.visible {
	display: block;
  }

  .closeDaysOfOperationModal {
	cursor: pointer;
	display: block;
	position: absolute;
	width: 1.9rem;
	height: 1.9rem;
	right: 0;
	top: -3.8rem;
	transition: all linear 0.2s;
	background: url(../../assets/images/close-blue.svg) no-repeat center center;
	background-size: contain !important;

	&:hover {

	  background: url(../../assets/images/close-white.svg) no-repeat center center;
	}
  }

  .daysOfOperationModal {
	max-width: 56rem;
	margin: 11rem auto 0 auto;
	position: relative;


	div {
	  background: #1C1F24;
	  color: $white;
	  padding: 1.5rem;
	}

	h6 {
	  font-size: 1.8rem;
	}

	p {
	  padding: 0;
	  margin-bottom: 0;
	  font-size: 1.8rem
	}
  }
}
